body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.parent-box {
  width:100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 60px;
  border-top: 2px solid #ddd;
  padding-top: 10px;
}
.child-box {
  width:100%;
  max-width:300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin:10px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px -2px #000;
}
.box-heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px 9px 6px;
  max-width: 100%;
  box-sizing: border-box; 
}
.image-box {
  width:100%;
}
.image-box img {
  width:100%;
  object-fit: contain;
  object-position: top;
}
h4,p {
  margin:2px;
}
.box-description {
  padding: 0 9px 20px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      height: 2em; /* exactly three lines */
      text-overflow:ellipsis;
      overflow: hidden;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
background: #f2f2f2;
font-family: 'Open Sans', sans-serif;
}

.search {
position: absolute;
left: 11px;
top: -43px;
width: 30%;
background: #dddd;
display: flex;

}

.searchTerm {
background: #ddd;
border: 1px solid#ddd;
height: 30px;
width: 93%;
padding-left: 50px;
}

.searchTerm:focus{
color: #00B4CC;
}
.homeicon{
position: absolute;
right: 24px;
color:white;  
/* top: -44px; */
}
.searchButton {
background: #ddd;
border: 1px solid #ddd;
width: 30px;
position: absolute;
top: 3px;
z-index: 99;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
width: 100%;
position: relative;
/* top: 10%; */
/* left: 50%; */
-ms-transform: translate(-50%, -50%);
transform: initial;
}
.moviedetails {
display: flex;
flex-wrap: wrap;
padding: 10px;
margin-top: 36px;
border-top: 2px solid #ddd;
width: 100%;  
position: relative;
}
.moviedetails .homeicon {
position: absolute;
right: 24px;
top: -35px;
}
.moviedetails .child_image{
width: 15%;
}
.child_image img {
width:100%;
object-fit: contain;
object-position: top;
}
.moviedetails .movie_right {
width: 78% !important;
padding-left: 10px;
}
.child_font{
font-size: 20px;
color: gray;
margin:20px;
}
.child_font_title{
font-size: 30px;
color: black;
}
.ratings{
justify-content: start;

}
